@import url(./fonts/fonts.css);


/* properties for typography  */
.fs-1-125 {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.fs-1-25 {
    font-size: 1.25rem;
    line-height: 2rem;
}

.fs-2-25 {
    font-size: 2.25rem;
    line-height: 3.5rem;
}
.fs-3-c {
    font-size: 3rem;
    line-height: 3.5rem;
}

.fw-300 {
    font-weight: 300;
}
p {
    color: #7D7987;
}

/* properties for utility */
.rounded-1-25 {
    border-radius: 1.25rem;
}

/* properties for buttons */
.btn-custom {
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    /* line-height: 3.875rem; */
    font-weight: 700;
}

.btn-blue {
    color: #FFF;
    background-color: #458FF6;
}

.btn-white {
    color: #458FF6;
    background-color: #FFF;
    border: 2px solid;
}
/* properties for body  */
body {
    font-family: 'Mulish';
}
/* properties for hero section  */
/* .section-hero-title {
    font-size: 3rem;
    line-height: 3.5rem;
} */

.hero-img {
    width: 100%;
}

.section-hero-element {
    position: absolute;
    top: 10rem;
}

/* properties for service section  */
.section-divider {
    display: block;
    width: 3.5rem;
    height: 0.125rem;
    background-color: black;
}

.card-img-c {
    width: 6rem;
}

.card-c {
    /* height: 22rem; */
    height: 28rem;
}

.card-img-c,
.card-body-c {
    height: 50%;
}

.card-img-c {
    object-fit:contain;
}

.element-service-bg2 {
    right: 0;
}

.element-service-bg1 {
    top: 0;
    z-index: -1;
}

/* properties for customer feedback section  */
.feedback-section {
    color: #FFF !important;
    background: linear-gradient(to top right, #5A98F2, #67C3F3 );
    border-radius: 1.5rem;
}

.feedback-section p {
    color: #FFF !important;
}

/* properties for responsive design  */
@media only screen and (width<=600px) {
    .text-sm-justify {
        text-align: justify;
    }

    .w-sm-100 {
        width: 100%;
    }
    
}